<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- vue js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <!-- Backgound -->
    <div class="background flex justify-content-center align-items-center">
        <div class="container flex" id="app">
            <!-- Col-left -->
            <div class="col-left">
                <div class="navigator">
                    <!-- header -->
                    <header class="flex justify-content-between align-items-center p-20">
                        <div>
                            <img class="icon-profile" src="./img/avatar_1.jpg" alt="">
                        </div>

                        <div class="icons-nav-left flex gap-20">
                            <i class="fa-solid fa-circle-notch"></i>

                            <i class="fa-solid fa-message"></i>

                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>
                    <!-- /header -->

                    <!-- main -->

                    <!-- Noficiation -->
                    <div class="notification flex justify-content-center align-items-center">
                        <div>
                            <i class="fa-solid fa-bell-slash bell"></i>
                        </div>
                        <div class="text-bell">
                            <h1>Ricevi notifiche di nuovi messaggi</h1>
                            <a href="">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- /Noficiation -->

                    <!-- search-bar -->
                    <div>
                        <div class="research-bar flex">
                            <button class="button-search"><i class="fa-solid fa-magnifying-glass"></i></button>
                            <label for="searchProfile"></label>
                            <input type="text" placeholder="Cerca o inizia una nuova chat" id="search" v-model="search">
                        </div>
                    </div>
                    <!-- /search-bar -->
                </div>
                <!-- scroll-contacts -->
                <div class="scroll-contacts flex dir-column">
                    <div class="flex border-bottom-1 p-20 justify-content-between" id="contact"
                        v-for="(curChat, index) in contacts" @click="activeChat(index)"  v-show='curChat.name.toLowerCase().includes(search.toLowerCase())'>
                        <div class="info-contact flex gap-20">
                            <div class="icon-profile">
                                <img class="icon-profile" :src="`${curChat.avatar}`" alt="">
                            </div>
                            <div class="text-profile">
                                <h1>{{curChat.name}}</h1>
                                <p>Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                        <div class="time">
                            <p>16:15</p>
                        </div>
                    </div>


                </div>
                <!-- /scroll-contacts -->
                </main>
                <!-- /main -->
            </div>
            <!-- /Col-left -->

            <!-- Col-right -->
            <div class="col-right flex dir-column justify-content-between container-mess">
                <!-- header -->
                <header class="flex justify-content-between align-items-center p-20">
                    <div class="info-contact flex">
                        <div class="icon-profile">
                            <img class="icon-profile" :src="`${contacts[activeIndex].avatar}`" alt="">
                        </div>
                        <div class="text-profile">
                            <h1>{{contacts[activeIndex].name}}</h1>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>

                    <div class="icons-nav-right flex gap-20">
                        <i class="fa-solid fa-magnifying-glass"></i>

                        <i class="fa-solid fa-paperclip"></i>

                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>
                <!-- /header -->

                <!-- main -->
                <div class="grow2" id="chatSpace">
                    <div class="flex dir-column pt-40 pr-20 pl-20"
                        v-for="curMessage in contacts[activeIndex].messages">
                        <div class="flex " :class="{ 'justify-content-start': curMessage.status == 'received', 'justify-content-end': curMessage.status == 'send' }">
                            <div class="flex justify-content-between" :class="{ 'mess-left': curMessage.status == 'received', 'mess-right': curMessage.status == 'send' }">
                                <div>
                                    <p>{{curMessage.message}}</p>
                                </div>
                                <div class="time flex dir-column justify-content-between align-items-end">
                                    <div class="chevron" >
                                        <i class="fa-solid fa-angle-down"></i>
                                    </div>
                                    <p>{{curMessage.date}}</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- <div class="mess-left flex">
                        <div>
                            <p>{{curMessage.message}}</p>
                        </div>

                        <div class="time flex dir-column justify-content-between align-items-end">
                            <div class="chevron">
                                <i class="fa-solid fa-angle-down"></i>
                            </div>
                            <p>16:15</p>
                        </div>
                    </div> -->

                </div>

                <div class="chat-bar flex">
                    <button class="button-emoji">
                        <i class="fa-regular fa-face-smile"></i>
                    </button>

                    <label for="sentMessage"></label>
                    <input type="text" class="write-message" id="chat" placeholder="Scrivi un messaggio" id="sentMessage" v-model.trim="newMessage.message" @keyup.enter="sendMessage" >

                    <button class="button-emoji">
                        <i class="fa-solid fa-microphone"></i>
                    </button>

                </div>

                <!-- /main -->
                <!-- footer -->
                <!-- /footer -->
            </div>
            <!-- /Col-right -->
        </div>
    </div>
    <!-- Script -->

    <script src="./js/script.js"></script>
</body>

</html>